<!DOCTYPE html>

<html>

<head>
    <title>About the creator</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <!--<img class="portrait" src="/img/girl.jpg">-->
        <h4>Name</h4>
        <p class="about-para">Parul Shrivastava</p>
        <h4>Designation</h4>
        <p class="about-para">Assistant System Engineer-Trainee, TCS Pune</p>
        <h4>Message from the creator</h4>
        <p class="about-para">
            Hey there! This application is created by me for educational purposes.Hope you liked it. Thanks for visiting!</p>
    </div>
    
    {{>footer}}
</body>

</html>