<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Information about app.</h3>
        <p class="help-para">{{helpText}}</p>
        <h3>Instuctions To use the Weather Application</h3>
        <p class="help-para">{{instruction}}</p>
        <h3>For more accurate results</h3>
        <p class="help-para">{{relevant}}</p>
    </div>
    
    {{>footer}}
</body>

</html>